@import './variables.scss';

.HomePage {

  .logo {
    width: 30%;

    @media all and (max-width: 1450px) {
      width: 40%;
    }

    @media all and (max-width: 1100px) {
      width: 477px;
    }

    @media all and (max-width: 600px) {
      width: 70%;
    }

    img {
      width: 100%;

    }
  }

  .title {
    margin-top: 2em;
    margin-bottom: 2em;

    @media all and (max-width: 1000px) {
      margin-bottom: 1em;
    }

    h1 {
      margin: 0;
      font-size: 5vw;

      @media all and (max-width: 1450px) {
        font-size: 5vw;
      }



      font-weight: 700;
      color: #4053FE;
      line-height: 1em;
      text-align: center;

      &:last-child {
        font-weight: 300;
      }

      @media all and (max-width: 1035px) {
        font-size: 8vw;

        &:last-child {
          font-weight: 300;
        }
      }

    }

    .tag {
      height: 70px;
    }

  }

  .section {
    margin-top: 8em;
    width: 100%;

    @media all and (max-width: 900px) {
      margin-top: 2em;
    }
  }


  .events {
    display: flex;
    justify-content: space-between;
    gap: 1.25em;



    @media all and (max-width: 1530px) {
      margin-top: 1em;
      flex-direction: column;
    }

    @media all and (max-width: 1000px) {
      margin-top: 0em;
    }

    .left {
      width: 30%;

      @media all and (max-width: 1530px) {
        width: 100%;
        text-align: center;
      }

      @media all and (max-width: 1000px) {
        font-size: .6em;
      }

      .text {
        display: block;
        color: #2E3129;
        font-size: 2em;
        line-height: 1em;
        margin: 0;
        margin-bottom: 20px;

        @media all and (max-width: 1000px) {
          font-weight: 400;
          margin-bottom: 10px;

        }
      }

      .text2 {
        display: block;
        font-size: 1.2em;

        @media all and (max-width: 1000px) {
          font-size: 2em;

        }

        span {
          font-weight: 700;
        }
      }
    }

    .cardgroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      gap: 1%;

      @media all and (max-width: 1530px) {
        width: 100%;
        margin-top: 1em;
      }

      @media all and (max-width: 1082px) {
        flex-direction: column;
        gap: 1em;
      }



      .card {
        display: grid;
        place-items: center;
        color: white;
        border-radius: 4px;
        padding: 0px;
        width: 30%;
        height: 430px;
        cursor: pointer;


        @media all and (max-width: 1082px) {
          width: 100%;

        }

        .cardContainer {
          width: 80%;
          margin-top: 15%;
          margin-bottom: 15%;

          @media all and (max-width: 1082px) {
            font-size: .8em;

          }
        }

        .cardtitle {
          font-size: 2.5em;
          line-height: 1em;
          font-weight: 500;
        }

        .date {
          font-size: 2em;
          line-height: 1em;
          font-weight: 300;
          margin-top: 2em;
        }

        .btn {
          margin-top: 3em;
          display: flex;
          align-items: center;
          // justify-content: center;
          font-size: 1.3em;

          .t {
            margin-right: 1em;
            // line-height: 0;
          }

          svg {
            zoom: 2;
            transform-origin: center;
            transform: translateY(-8%);
          }
        }

        &:nth-child(2) {
          position: relative;
          top: 10%;
        }

        &:nth-child(3) {
          position: relative;
          top: 30%;
        }

        @media all and (max-width: 1082px) {
          &:nth-child(2) {
            position: relative;
            top: 0%;
          }

          &:nth-child(3) {
            position: relative;
            top: 0%;
          }

        }

        font-size: 0.9em;
        border: 2px solid #4053fe00;

        &:hover {

          background: #f3faff1a;
          transition: .3s;
          border: 2px solid #4053FE;
          color: #4053FE !important;
          backdrop-filter: blur(5px);

          svg {
            rect {
              fill: #4053FE;
            }
          }

        }

      }

      .redcard {
        background: #C53E5A;
      }

      .greencard {
        background: #2189C9;
      }

      .bluecard {
        background: #D09E11;
      }


    }

  }


  .cta {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    align-items: center;

    @media all and (max-width: 900px) {
      margin-top: 4em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }

    .ctaImg {
      width: 40%;

      @media all and (max-width: 600px) {
        width: 90%;
      }

      img {
        width: 100%;
      }



    }

    .slogantext {
      font-size: 1.3em;
      text-align: right;
      width: 400px;

      @media all and (max-width: 900px) {
        text-align: center;
      }

      @media all and (max-width: 600px) {
        width: 100%;
      }
    }


  }

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3em;
  margin-top: 5em;
  font-weight: 500;
  margin-bottom: 1em;

  @media all and (max-width: 900px) {
    margin-top: 4em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: .5em;
    }
  }

  .developer {
    a {
      text-decoration: underline;
      text-decoration-color: inherit;
    }
  }

  @media all and (max-width: 1040px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;

    .socials {
      order: 1;
    }

    .developer {
      order: 2;
    }

    .copyright {
      order: 3;
    }
  }

}

$innerWidth: 83.2%;



.CAMPS {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media all and (max-width: 530px) {
      font-size: .8em;
    }

    @media all and (max-width: 404px) {
      font-size: .6em;
    }


    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;

      gap: 3em;

      @media all and (max-width: 1000px) {
        width: 100%;
        gap: 0;
      }

      .titlegp {
        .place {

          font-weight: 600;
        }

        .tint {
          color: #4053FE;
        }
      }

      .dateplace {
        font-weight: 400;

        span {
          display: inline-block;
          color: #4053FE;
        }
      }
    }


    .right {
      display: flex;
      gap: 3em;
      align-items: center;

      @media all and (max-width: 1000px) {
        display: none;
      }

      .hdlink {
        font-size: 1.5em;
        font-weight: 600;
        color: #4053FE;
      }


    }


  }

  .logocamp {
    margin-top: 2em;
    width: 20vw;
    display: grid;
    place-items: center;

    @media all and (max-width: 1450px) {
      width: 450px;
    }

    @media all and (max-width: 550px) {
      width: 100%;
      margin-top: 1em;
    }

    svg {
      width: 100%;
    }
  }


  .intro {
    display: block;
    text-align: center;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 3.5em;

    @media all and (max-width: 1450px) {
      width: 100%;

    }

    @media all and (max-width: 969px) {
      font-size: 1.53vw;
      margin-top: 0em;
      // margin-bottom: 3.5em;

    }

    h4 {
      margin: 0;
      font-size: 4.5em;
      font-weight: 400;

      &:nth-child(2) {
        color: #4053FE;
      }
    }

    div {
      font-size: 2em;
      margin-top: .5em;

      span {
        display: inline-block;
        font-weight: 600;
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;

    .assertion {
      width: 200px;
      margin-top: 2em;

      @media all and (max-width: 1000px) {
        font-size: .7em;
        margin-top: 4em;
        margin-bottom: 4em;
      }

      svg {
        width: 2em;
      }

      .text {
        margin-top: 1em;
      }
    }

  }


  .sectionPage {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .sectionTitle {
    font-size: 5em;
    color: #4053FE;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;

    @media (max-width: 930px) {

      font-size: 9vw;

    }

  }

  .sectiongroup {
    display: block;
    width: $innerWidth;
    margin-bottom: 8em;
    margin-top: 5em;

    @media all and (max-width:1250px) {
      width: 100%;
    }

    @media all and (max-width:500px) {
      padding: 1em 0;
      margin: 0;
    }

    .about {
      width: 100%;
      margin-top: .5em;
    }

    .platformes {
      display: flex;
      justify-content: space-between;
      gap: 1%;


      @media all and (max-width:830px) {
        flex-wrap: wrap;
      }

      .platform {
        width: 22%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        @media all and (max-width:830px) {
          width: 32%;
          height: 110px;
        }

        svg {
          width: 30%;

          @media all and (max-width:1250px) {
            width: 50%;
          }
        }

        img {
          width: 30%;

          @media all and (max-width:1250px) {
            width: 50%;
          }
        }
      }

      .live {
        width: 30%;
        background: #4053FE;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media all and (max-width:830px) {
          width: 100%;
          margin-bottom: 1em;
          height: 250px;
        }



        .boxContainer {
          display: flex;
          justify-content: space-between;
          height: 70px;
          --boxSize: 10px;
          --gutter: 4px;
          width: calc((var(--boxSize) + var(--gutter)) * 5);

          .box {

            transform: scaleY(.4);
            height: 100%;
            width: var(--boxSize);
            background: #fff;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            border-radius: 20px !important;

            &:nth-child(1) {
              animation-name: quiet;
            }

            &:nth-child(2) {
              animation-name: normal;
            }

            &:nth-child(3) {
              animation-name: quiet;
            }

            &:nth-child(4) {
              animation-name: loud;
            }

            &:nth-child(5) {
              animation-name: quiet;
            }
          }
        }

        .text {
          color: white;
          text-decoration: underline;
          font-size: 1.5em;
          margin-top: 1em;
        }

      }

      .youtube {
        background: red;
      }

      .souncloud {
        background: #FD8800;
      }

      .rvc {
        background: #1D70B8;
        overflow: hidden;


      }


    }

    .galerieSection {
      margin-top: 10em;
      margin-bottom: 15em;
      height: 60vh;

      @media all and (max-width:500px) {
        height: auto;
        padding: 5em 0;
        margin-top: 0em;
        margin-bottom: 0em;
      }

      .galContain {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: .5em;

        @media all and (max-width:500px) {
          flex-direction: column;
          gap: 0em;

        }

        .gal {
          width: 30%;
          height: 100%;
          background: #4053FE;
          border-radius: 8px;
          margin-top: 2em;

          @media all and (max-width:700px) {
            width: 50%;

          }

          @media all and (max-width:500px) {
            height: 400px;
            margin-top: 1em;
            width: 100%;
          }
        }

        .galpreview {
          width: 70%;
          overflow: hidden;

          @media all and (max-width:700px) {
            width: 50%;

          }

          @media all and (max-width:500px) {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .galmore {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          svg {
            width: 50%;

            @media all and (max-width:500px) {
              width: 40%;
            }

          }

          .text {
            width: 70%;
            text-decoration: underline;
            color: white;
            font-size: 1.5em;
            margin-top: 2em;

            @media all and (max-width:500px) {
              text-align: center;
              margin-top: 1em;
            }
          }

        }

      }

    }

  }

  .sectionTitleAbout {
    width: $innerWidth;

    @media all and (max-width:1250px) {
      width: 100%;
    }
  }

  .about {
    width: $innerWidth;
    font-size: 3.3em;
    font-weight: 300;
    margin-bottom: 1em;
    margin-top: 1em;

    @media all and (max-width: 1250px) {
      width: 100%;
      font-size: 2.5em;
    }

    // @media all and (max-width: 730px) {

    //   font-size: 2em;
    // }


    @media all and (max-width: 730px) {
      font-size: 4vw;
      font-weight: 400;
    }

  }

  .aboutMin {
    width: 55%;
    font-size: 3em;

    @media all and (max-width: 1250px) {
      width: 100%;
      font-size: 2em;
    }

    @media all and (max-width: 730px) {
      font-size: 4vw;
      font-weight: 400;
    }
  }


  .speakers {
    display: flex;
    justify-content: left;
    gap: 15%;
    width: $innerWidth;
    margin-bottom: 10em;

    @media all and (max-width: 1250px) {
      width: 100%;
      gap: 5%;
    }

    @media all and (max-width: 730px) {
      gap: 0%;
      flex-direction: column;
      margin-bottom: 0em;
    }


    .speaker {
      width: 35%;
      position: relative;

      @media all and (max-width: 1250px) {
        width: 50%;
      }

      @media all and (max-width: 730px) {
        width: 100%;
        margin-bottom: 2em;
        margin-top: 2em;
      }

      .img {
        height: 75vh;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;

        @media all and (max-width: 730px) {
          height: 50vh;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s;
          filter: grayscale(0%);
        }
      }

      .autor {
        margin-top: 1em;

        @media all and (max-width: 1000px) {
          font-size: .7em;
        }


        .name {
          font-size: 1.8em;
          font-weight: 500;
        }

        .title {
          font-size: 1.2em;
          margin-top: .2em;
        }
      }

      &:nth-child(2) {
        transform: translateY(15%);

        @media all and (max-width: 730px) {
          transform: translateY(0%);
        }
      }

      &:hover {
        img {
          filter: grayscale(100%);
          transition: .5s;
        }
      }

    }
  }

  .containMinAbout {
    width: $innerWidth;

    @media all and (max-width: 1250px) {
      width: 100%;
    }
  }

  .videocontain {
    display: block;
    width: $innerWidth;

    @media all and (max-width: 1250px) {
      width: 100%;
    }

    h2 {
      font-size: 5em;
      color: #4053FE;
      font-weight: 500;
      margin-bottom: .4em;

      @media all and (max-width: 930px) {
        font-size: 9vw;
      }
    }

    .containeryoutube {
      width: 80%;
      height: 70vh;
      border-radius: 8px;
      overflow: hidden;
      transform: translateX(-5%);

      @media all and (max-width: 1250px) {
        width: 100%;
        transform: translateX(0%);
      }

      @media all and (max-width: 930px) {
        height: 500px;
      }

      @media all and (max-width: 600px) {
        height: 300px;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }





  }


  .eventName {
    font-size: 10em;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1em;

    @media all and (max-width: 1100px) {
      font-size: 15vw;
    }
  }

  .dateEvent {
    font-size: 2em;
    margin-top: 1em;

    @media all and (max-width: 1100px) {
      font-size: 7vw;
    }
  }


}

.endMargin {
  margin-top: 7em;
}

.outLineBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  gap: 1em;
  font-size: 1.2em;
  height: 3em;
  padding: 0 1.7em;
  border-radius: 7px;
  border: 2px solid #4053FE;
  color: #4053FE;
  font-weight: 500;
  user-select: none;

  svg {
    width: .7em;

    rect {
      fill: #4053FE;
    }
  }


  &:hover {
    transition: .3s;

    background: #4053FE;
    color: white;

    svg {
      rect {
        fill: white;
      }
    }

  }

}

.bgbtn {
  background: #4053FE;
  color: white;
  font-size: 2em;

  @media all and (max-width: 560px) {
    font-size: 1.4em;
  }

  @media all and (max-width: 500px) {
    font-size: 1.1em;
  }

  svg {
    rect {
      fill: white;
    }
  }

  &:hover {
    background: white;
    color: #4053FE;

    svg {
      rect {
        fill: #4053FE;
      }
    }

  }
}

.hint {
  color: #4053FE;
}

.toleft {
  display: flex;
  justify-content: left;
  width: $innerWidth;
}

.margintop {
  margin-top: 10em;
}


h1,
h2,
h3,
h4 {
  line-height: 1em;
}


@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}


.liveRVC {
  position: fixed;
  bottom: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 145px;
  border: none;

  --secondary-color: #ffffff !important;
  --main-color: #4053FE !important;
  --main-color-opacity: rgba(30, 128, 203, 0.274) !important;
}

.src-components-widget__player--2XrIQ {
  background: #4053FE !important;
}